@import url("https://fonts.googleapis.com/css2?family=Petrona:ital,wght@0,100..900;1,100..900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(251, 249, 244, 1);
  color: rgba(78, 43, 43, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 80px;
  background: rgba(251, 249, 244, 1);
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: rgba(251, 249, 244, 1);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 0px 32px;

  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: rgba(251, 249, 244, 1);
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Petrona;
  font-weight: 700;
  font-size: 24px;
  line-height: 31.2px;
  letter-spacing: 0%;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(78, 43, 43, 1);
}
.navigation__link:hover,
.navigation__link:focus {
  font-size: 26px;
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 13px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Petrona;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;

    padding: 0px 24px;
    text-decoration: none;
  }
  .navigation__link:hover,
  .navigation__link:focus {
    font-size: 20px;
  }
  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 812px;
  padding: 120px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Hero.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.home-title {
  font-family: Playfair Display SC;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
}

.home-text {
  font-family: Petrona;
  font-weight: 700;
  font-size: 24px;
  line-height: 31.2px;
  letter-spacing: 0%;

  padding: 20px 0 406px;
  color: rgba(255, 255, 255, 1);
}
.home__google-button_image {
  width: 180px;
  height: 57px;
}
.home__google-button_link {
  margin: auto;
}
.home__google-button_link:hover .home__google-button_image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 759px;
    padding: 120px 160px 0px;
    background-image: url("/img/home//Hero\ \(1\).png");
  }

  .home-title {
    font-family: Playfair Display SC;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    letter-spacing: 0%;
  }

  .home-text {
    font-family: Petrona;
    font-weight: 700;
    font-size: 32px;
    line-height: 41.6px;
    letter-spacing: 0%;

    padding: 40px 0 70px;
  }
  .home__google-button_link {
    margin: 0;
  }
}
.uniqueness {
  width: 375px;
  height: 1156px;
  margin: auto;
  padding: 40px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Our\ Uniqueness.png");
}

.uniqueness-title {
  font-family: Playfair Display SC;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
}

.uniqueness-text-bold {
  font-family: Petrona;
  font-weight: 700;
  font-size: 24px;
  line-height: 31.2px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(251, 235, 147, 1);
}
.uniqueness-text {
  font-family: Petrona;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  padding: 88px 0 40px;
}
.uniqueness-text-two {
  color: rgba(255, 255, 255, 1);
  padding-top: 8px;
  font-family: Petrona;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .uniqueness {
    width: 1440px;
    height: 891px;
    padding: 80px 240px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/Our\ Uniqueness\ \(1\).png");
  }

  .uniqueness-title {
    font-family: Playfair Display SC;
    font-weight: 700;
    font-size: 48px;
    line-height: 57.6px;
    letter-spacing: 0%;
    text-align: center;
  }

  .uniqueness-text-bold {
    font-family: Petrona;

    font-weight: 700;
    font-size: 32px;
    line-height: 41.6px;
    letter-spacing: 0%;
    text-align: center;
  }
  .uniqueness-text {
    font-family: Petrona;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;

    padding: 100px 0 40px;
  }
  .uniqueness-text-two {
    color: rgba(255, 255, 255, 1);
    padding-top: 8px;
    font-family: Petrona;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;
  }
}
.about {
  padding: 40px 16px;
  margin: auto;
  width: 375px;
}

.about-title {
  font-family: Playfair Display SC;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0%;
}

.about-text {
  font-family: Petrona;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.about-img {
  width: 343px;
  height: 464px;
}
.about-texts {
  display: none;
}
@media screen and (min-width: 1200px) {
  .about {
    padding: 80px 160px;
    width: 1440px;
  }
  .about-title {
    font-family: Playfair Display SC;
    font-weight: 700;
    font-size: 48px;
    line-height: 57.6px;
    letter-spacing: 0%;
  }

  .about-text {
    display: none;
  }
  .about-texts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: -50px;
    gap: 80px;
    column-gap: 224px;
    width: 448;
    height: 606;
    top: 460px;
    left: 160px;
    border-radius: 8px;
    width: 448px;
    height: 1544px;
    font-family: Petrona;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
  }
  .about-img {
    width: 448px;
    height: 606px;
  }
  .about-texts-one {
    padding-top: 120px;
  }
}
.how {
  width: 375px;
  height: 838px;
  margin: auto;
  padding: 40px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/How\ to\ Play.png");
}

.how-list {
  padding-top: 40px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .how {
    width: 1440px;
    height: 663px;

    padding: 80px 544px 0 160px;
    background-image: url("/img/How\ to\ Play\ \(1\).png");
  }
  .how-list {
    padding-top: 82px;
  }
}

.reviews {
  width: 375px;
  height: 690px;

  margin: auto;
  padding: 40px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/reviews/Reviews.png");
}

.reviews-list {
  width: auto;
  padding-top: 40px;
  padding-bottom: 24px;
  margin: auto;
}
.reviews-item {
  background-image: url("/img/reviews/Review\ Container.png");
  margin: 0 10px;
  width: 343px;
  height: 202px;
}
.reviews-item-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reviews-text-bold {
  font-family: Petrona;
  font-weight: 700;
  font-size: 24px;
  line-height: 31.2px;
  letter-spacing: 0%;
}
.reviews-text {
  font-family: Petrona;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  padding-top: 34px;
}

.gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 99px;
}

.gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}

.gallery-button:hover {
  scale: 120%;
}
.reviews-lists {
  display: none;
}
@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;
    height: 639px;
    padding: 80px 224px 0 736px;
    background-image: url("/img/reviews/Reviews\ \(1\).png");
  }
  .reviews-div {
    display: none;
  }

  .reviews-lists {
    display: flex;
    padding-top: 80px;
  }
  .reviews-item {
    background-image: url("/img/reviews/Review\ Container\ \(1\).png");
    margin: 0 10px;
    width: 480px;
    height: 197px;
  }
  .reviews-item-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .reviews-text-bold {
    font-family: Petrona;
    font-weight: 700;
    font-size: 32px;
    line-height: 41.6px;
    letter-spacing: 0%;
  }
  .reviews-text {
    font-family: Petrona;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;

    padding-top: 30px;
  }
  .slick-prev:before {
    content: url("/img/reviews/Arrow.png");
    margin-left: -60px;
  }
  .slick-next:before {
    content: url("/img/reviews/Arrow\ \(1\).png");
    margin-left: 20px;
  }
}

.features {
  width: 375px;
  height: 1354px;
  margin: auto;
  background-image: url("/img/Benefits\ \(2\).png");
  padding: 40px 16px;
}
.features-title {
  color: rgba(255, 255, 255, 1);
}
.features-list {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.features-text-bold {
  font-family: Petrona;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
  color: rgba(251, 235, 147, 1);
}
.features-text {
  font-family: Petrona;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    height: 922px;
    background-image: url("/img/Benefits\ \(3\).png");
    padding: 80px 160px;
  }

  .features-list {
    padding: 100px 40px 0 40px;
    width: 776px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .features-text-bold {
    font-family: Petrona;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
  }
  .features-text {
    font-family: Petrona;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
  }
}
.footer {
  background-image: url("/img/Footer_mob.png");
  width: 375px;
  height: 217px;
  margin: auto;
  padding-top: 40px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;

  align-items: start;

  gap: 16px;
}
.footer-text {
  font-family: Petrona;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;

  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  text-decoration: none;
  color: #ffffff;
}

.footer-copyright {
  color: #ffffff;
  font-family: Petrona;
  font-weight: 400;
  font-size: 11px;
  line-height: 16.5px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer {
    background-image: url("/img/Footer.png");
    width: 1440px;
    height: 227px;
    padding-top: 40px;
    padding-right: 160px;
    padding-bottom: 16px;
    padding-left: 160px;
  }
  .footer-container {
    gap: 40px;
  }

  .footer-text {
    font-family: Petrona;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
  }

  .footer-copyright {
    font-family: Petrona;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
  }
}
.policy-terms-container {
  padding: 120px 16px 40px;
}
.policy-terms-title {
  font-family: Playfair Display SC;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0%;
}

.policy-terms-text {
  font-family: Petrona;
  font-weight: 700;
  font-size: 24px;
  line-height: 31.2px;
  letter-spacing: 0%;

  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Petrona;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;

  padding-top: 8px;
}
.policy-terms-text-one {
  font-family: Petrona;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;

  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Petrona;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;
  font-family: Petrona;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 160px 160px 80px;
  }
  .policy-terms-title {
    font-family: Playfair Display SC;
    font-weight: 700;
    font-size: 48px;
    line-height: 57.6px;
    letter-spacing: 0%;
  }

  .policy-terms-text {
    font-family: Petrona;
    font-weight: 700;
    font-size: 32px;
    line-height: 41.6px;
    letter-spacing: 0%;

    padding-top: 40px;
  }
  .policy-terms-texts {
    font-family: Petrona;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
  }
  .policy-terms-text-one {
    font-family: Petrona;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;

    padding-top: 30px;
  }

  .terms-list {
    list-style-type: disc;

    padding: 20px 0 20px 25px;
    font-family: Petrona;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;

    display: flex;
    flex-direction: column;
  }

  .terms-lists {
    list-style-type: disc;

    font-family: Petrona;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 383px;
  border-radius: 8px;
  padding: 32px;

  text-align: center;
  z-index: 1000;
  background: rgba(12, 12, 12, 1);

  display: none;
}

.cookie-popup-text-two {
  font-family: Petrona;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;

  color: rgba(241, 238, 233, 1);
}
.cookie-button-container {
  padding: 30px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.cookie-button {
  border: none;
  border: 1px solid rgba(255, 255, 255, 1);
  background-color: transparent;
  width: 256px;

  padding-top: 16px;
  font-family: Petrona;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
  padding-bottom: 16px;

  border-radius: 8px;
}
#accept-cookies {
  background: rgba(255, 255, 255, 1);
  color: rgba(12, 12, 12, 1);
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
    width: 648px;
  }
  .cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1262px;

    padding: 32px;
    display: none;
  }

  .cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
